page-change-password {
    .scroll-content {
        background: black
    }
    .container {
        .psw_change_grid {
            .text_input_row {
                margin-bottom: 10px;
                .text_input_col {
                    border: 1px solid lightgray;
                    .input_field {
                        color: #fff;
                    }
                }
            }
            .label_row {
                .label_col {
                    .change_pws_label {
                        width: 100%;
                    }
                }
            }
        }
    }
}